In [1]:
import pandas as pd

# Load the data
movies = pd.read_csv('../data/movies.csv')
ratings = pd.read_csv('../data/ratings.csv')

# Show the first few rows
print("üé¨ Movies Data:")
display(movies.head())

print("\n‚≠ê Ratings Data:")
display(ratings.head())

üé¨ Movies Data:

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

‚≠ê Ratings Data:

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [2]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

In [3]:
# Fill any missing values in 'genres' and 'title'
movies['genres'] = movies['genres'].fillna('')
movies['title'] = movies['title'].fillna('')

In [4]:
movies['combined'] = movies['title'] + ' ' + movies['genres']

In [5]:
tfidf = TfidfVectorizer(stop_words='english')

# Fit and transform the combined text
tfidf_matrix = tfidf.fit_transform(movies['combined'])

print(f"TF-IDF matrix shape: {tfidf_matrix.shape}")

TF-IDF matrix shape: (9742, 9060)

In [6]:
# Compute cosine similarity
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

In [7]:
# Map movie titles to index
indices = pd.Series(movies.index, index=movies['title']).drop_duplicates()